// File generated from our OpenAPI spec by Stainless.

import * as Core from 'cloudflare/core';
import { APIResource } from 'cloudflare/resource';
import * as AIAPI from 'cloudflare/resources/ai';

export class AI extends APIResource {
  /**
   * This endpoint provides users with the capability to run specific AI models
   * on-demand.
   *
   * By submitting the required input data, users can receive real-time predictions
   * or results generated by the chosen AI model. The endpoint supports various AI
   * model types, ensuring flexibility and adaptability for diverse use cases.
   */
  create(
    accountId: string,
    modelName: string,
    body: AICreateParams,
    options?: Core.RequestOptions,
  ): Core.APIPromise<AICreateResponse> {
    return (
      this._client.post(`/accounts/${accountId}/ai/run/${modelName}`, {
        body,
        ...options,
      }) as Core.APIPromise<{ result: AICreateResponse }>
    )._thenUnwrap((obj) => obj.result);
  }
}

export type AICreateResponse = unknown;

export type AICreateParams = unknown;

export namespace AI {
  export import AICreateResponse = AIAPI.AICreateResponse;
  export import AICreateParams = AIAPI.AICreateParams;
}
