// File generated from our OpenAPI spec by Stainless.

import * as Core from 'cloudflare/core';
import { APIResource } from 'cloudflare/resource';
import * as AIAPI from 'cloudflare/resources/ai/ai';
import * as BaaiAPI from 'cloudflare/resources/ai/baai';
import * as HuggingfaceAPI from 'cloudflare/resources/ai/huggingface';
import * as MetaAPI from 'cloudflare/resources/ai/meta';
import * as MicrosoftAPI from 'cloudflare/resources/ai/microsoft';
import * as MistralAPI from 'cloudflare/resources/ai/mistral';
import * as OpenAIAPI from 'cloudflare/resources/ai/openai';

export class AI extends APIResource {
  huggingface: HuggingfaceAPI.Huggingface = new HuggingfaceAPI.Huggingface(this._client);
  baai: BaaiAPI.Baai = new BaaiAPI.Baai(this._client);
  openai: OpenAIAPI.OpenAI = new OpenAIAPI.OpenAI(this._client);
  microsoft: MicrosoftAPI.Microsoft = new MicrosoftAPI.Microsoft(this._client);
  meta: MetaAPI.Meta = new MetaAPI.Meta(this._client);
  mistral: MistralAPI.Mistral = new MistralAPI.Mistral(this._client);

  /**
   * This endpoint provides users with the capability to run specific AI models
   * on-demand.
   *
   * By submitting the required input data, users can receive real-time predictions
   * or results generated by the chosen AI model. The endpoint supports various AI
   * model types, ensuring flexibility and adaptability for diverse use cases.
   */
  runModel(
    accountIdentifier: string,
    modelName: string,
    body: AIRunModelParams,
    options?: Core.RequestOptions,
  ): Core.APIPromise<AIRunModelResponse> {
    return (
      this._client.post(`/accounts/${accountIdentifier}/ai/run/${modelName}`, {
        body,
        ...options,
      }) as Core.APIPromise<{ result: AIRunModelResponse }>
    )._thenUnwrap((obj) => obj.result);
  }
}

export type AIRunModelResponse = unknown;

export type AIRunModelParams = unknown;

export namespace AI {
  export import AIRunModelResponse = AIAPI.AIRunModelResponse;
  export import AIRunModelParams = AIAPI.AIRunModelParams;
  export import Huggingface = HuggingfaceAPI.Huggingface;
  export import Baai = BaaiAPI.Baai;
  export import OpenAI = OpenAIAPI.OpenAI;
  export import Microsoft = MicrosoftAPI.Microsoft;
  export import Meta = MetaAPI.Meta;
  export import Mistral = MistralAPI.Mistral;
}
