// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import * as CredentialsAPI from './credentials';
import {
  BaseCredentials,
  CredentialCreateParams,
  CredentialCreateResponse,
  CredentialDeleteParams,
  CredentialDeleteResponse,
  CredentialEditParams,
  CredentialEditResponse,
  CredentialGetParams,
  CredentialGetResponse,
  CredentialListParams,
  CredentialListResponse,
  CredentialListResponsesV4PagePaginationArray,
  CredentialUpdateParams,
  CredentialUpdateResponse,
  Credentials,
} from './credentials';
import { APIPromise } from '../../../core/api-promise';
import {
  PagePromise,
  V4PagePaginationArray,
  type V4PagePaginationArrayParams,
} from '../../../core/pagination';
import { RequestOptions } from '../../../internal/request-options';
import { path } from '../../../internal/utils/path';

export class BaseCredentialSets extends APIResource {
  static override readonly _key: readonly ['vulnerabilityScanner', 'credentialSets'] = Object.freeze([
    'vulnerabilityScanner',
    'credentialSets',
  ] as const);

  /**
   * Creates a new credential set.
   *
   * @example
   * ```ts
   * const credentialSet =
   *   await client.vulnerabilityScanner.credentialSets.create({
   *     account_id: '023e105f4ecef8ad9ca31a8372d0c353',
   *     name: 'Production API credentials',
   *   });
   * ```
   */
  create(
    params: CredentialSetCreateParams,
    options?: RequestOptions,
  ): APIPromise<CredentialSetCreateResponse> {
    const { account_id = this._client.accountID, ...body } = params;
    return (
      this._client.post(path`/accounts/${account_id}/vuln_scanner/credential_sets`, {
        body,
        ...options,
      }) as APIPromise<{ result: CredentialSetCreateResponse }>
    )._thenUnwrap((obj) => obj.result);
  }

  /**
   * Replaces a credential set. All fields must be provided.
   *
   * @example
   * ```ts
   * const credentialSet =
   *   await client.vulnerabilityScanner.credentialSets.update(
   *     '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',
   *     {
   *       account_id: '023e105f4ecef8ad9ca31a8372d0c353',
   *       name: 'Production API credentials',
   *     },
   *   );
   * ```
   */
  update(
    credentialSetID: string,
    params: CredentialSetUpdateParams,
    options?: RequestOptions,
  ): APIPromise<CredentialSetUpdateResponse> {
    const { account_id = this._client.accountID, ...body } = params;
    return (
      this._client.put(path`/accounts/${account_id}/vuln_scanner/credential_sets/${credentialSetID}`, {
        body,
        ...options,
      }) as APIPromise<{ result: CredentialSetUpdateResponse }>
    )._thenUnwrap((obj) => obj.result);
  }

  /**
   * Returns all credential sets for the account.
   *
   * @example
   * ```ts
   * // Automatically fetches more pages as needed.
   * for await (const credentialSetListResponse of client.vulnerabilityScanner.credentialSets.list(
   *   { account_id: '023e105f4ecef8ad9ca31a8372d0c353' },
   * )) {
   *   // ...
   * }
   * ```
   */
  list(
    params: CredentialSetListParams | null | undefined = {},
    options?: RequestOptions,
  ): PagePromise<CredentialSetListResponsesV4PagePaginationArray, CredentialSetListResponse> {
    const { account_id = this._client.accountID, ...query } = params ?? {};
    return this._client.getAPIList(
      path`/accounts/${account_id}/vuln_scanner/credential_sets`,
      V4PagePaginationArray<CredentialSetListResponse>,
      { query, ...options },
    );
  }

  /**
   * Deletes a credential set and all of its credentials.
   *
   * @example
   * ```ts
   * const credentialSet =
   *   await client.vulnerabilityScanner.credentialSets.delete(
   *     '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',
   *     { account_id: '023e105f4ecef8ad9ca31a8372d0c353' },
   *   );
   * ```
   */
  delete(
    credentialSetID: string,
    params: CredentialSetDeleteParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<CredentialSetDeleteResponse | null> {
    const { account_id = this._client.accountID } = params ?? {};
    return (
      this._client.delete(
        path`/accounts/${account_id}/vuln_scanner/credential_sets/${credentialSetID}`,
        options,
      ) as APIPromise<{ result: CredentialSetDeleteResponse | null }>
    )._thenUnwrap((obj) => obj.result);
  }

  /**
   * Updates a credential set with only the provided fields; omitted fields remain
   * unchanged.
   *
   * @example
   * ```ts
   * const response =
   *   await client.vulnerabilityScanner.credentialSets.edit(
   *     '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',
   *     { account_id: '023e105f4ecef8ad9ca31a8372d0c353' },
   *   );
   * ```
   */
  edit(
    credentialSetID: string,
    params: CredentialSetEditParams,
    options?: RequestOptions,
  ): APIPromise<CredentialSetEditResponse> {
    const { account_id = this._client.accountID, ...body } = params;
    return (
      this._client.patch(path`/accounts/${account_id}/vuln_scanner/credential_sets/${credentialSetID}`, {
        body,
        ...options,
      }) as APIPromise<{ result: CredentialSetEditResponse }>
    )._thenUnwrap((obj) => obj.result);
  }

  /**
   * Returns a single credential set by ID.
   *
   * @example
   * ```ts
   * const credentialSet =
   *   await client.vulnerabilityScanner.credentialSets.get(
   *     '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',
   *     { account_id: '023e105f4ecef8ad9ca31a8372d0c353' },
   *   );
   * ```
   */
  get(
    credentialSetID: string,
    params: CredentialSetGetParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<CredentialSetGetResponse> {
    const { account_id = this._client.accountID } = params ?? {};
    return (
      this._client.get(
        path`/accounts/${account_id}/vuln_scanner/credential_sets/${credentialSetID}`,
        options,
      ) as APIPromise<{ result: CredentialSetGetResponse }>
    )._thenUnwrap((obj) => obj.result);
  }
}
export class CredentialSets extends BaseCredentialSets {
  credentials: CredentialsAPI.Credentials = new CredentialsAPI.Credentials(this._client);
}

export type CredentialSetListResponsesV4PagePaginationArray =
  V4PagePaginationArray<CredentialSetListResponse>;

export interface CredentialSetCreateResponse {
  /**
   * Credential set identifier.
   */
  id: string;

  /**
   * Human-readable name.
   */
  name: string;
}

export interface CredentialSetUpdateResponse {
  /**
   * Credential set identifier.
   */
  id: string;

  /**
   * Human-readable name.
   */
  name: string;
}

export interface CredentialSetListResponse {
  /**
   * Credential set identifier.
   */
  id: string;

  /**
   * Human-readable name.
   */
  name: string;
}

export type CredentialSetDeleteResponse = unknown;

export interface CredentialSetEditResponse {
  /**
   * Credential set identifier.
   */
  id: string;

  /**
   * Human-readable name.
   */
  name: string;
}

export interface CredentialSetGetResponse {
  /**
   * Credential set identifier.
   */
  id: string;

  /**
   * Human-readable name.
   */
  name: string;
}

export interface CredentialSetCreateParams {
  /**
   * Path param: Identifier.
   */
  account_id?: string;

  /**
   * Body param: Human-readable name.
   */
  name: string;
}

export interface CredentialSetUpdateParams {
  /**
   * Path param: Identifier.
   */
  account_id?: string;

  /**
   * Body param: Human-readable name.
   */
  name: string;
}

export interface CredentialSetListParams extends V4PagePaginationArrayParams {
  /**
   * Path param: Identifier.
   */
  account_id?: string;
}

export interface CredentialSetDeleteParams {
  /**
   * Identifier.
   */
  account_id?: string;
}

export interface CredentialSetEditParams {
  /**
   * Path param: Identifier.
   */
  account_id?: string;

  /**
   * Body param: Human-readable name.
   */
  name?: string;
}

export interface CredentialSetGetParams {
  /**
   * Identifier.
   */
  account_id?: string;
}

CredentialSets.Credentials = Credentials;
CredentialSets.BaseCredentials = BaseCredentials;

export declare namespace CredentialSets {
  export {
    type CredentialSetCreateResponse as CredentialSetCreateResponse,
    type CredentialSetUpdateResponse as CredentialSetUpdateResponse,
    type CredentialSetListResponse as CredentialSetListResponse,
    type CredentialSetDeleteResponse as CredentialSetDeleteResponse,
    type CredentialSetEditResponse as CredentialSetEditResponse,
    type CredentialSetGetResponse as CredentialSetGetResponse,
    type CredentialSetListResponsesV4PagePaginationArray as CredentialSetListResponsesV4PagePaginationArray,
    type CredentialSetCreateParams as CredentialSetCreateParams,
    type CredentialSetUpdateParams as CredentialSetUpdateParams,
    type CredentialSetListParams as CredentialSetListParams,
    type CredentialSetDeleteParams as CredentialSetDeleteParams,
    type CredentialSetEditParams as CredentialSetEditParams,
    type CredentialSetGetParams as CredentialSetGetParams,
  };

  export {
    Credentials as Credentials,
    BaseCredentials as BaseCredentials,
    type CredentialCreateResponse as CredentialCreateResponse,
    type CredentialUpdateResponse as CredentialUpdateResponse,
    type CredentialListResponse as CredentialListResponse,
    type CredentialDeleteResponse as CredentialDeleteResponse,
    type CredentialEditResponse as CredentialEditResponse,
    type CredentialGetResponse as CredentialGetResponse,
    type CredentialListResponsesV4PagePaginationArray as CredentialListResponsesV4PagePaginationArray,
    type CredentialCreateParams as CredentialCreateParams,
    type CredentialUpdateParams as CredentialUpdateParams,
    type CredentialListParams as CredentialListParams,
    type CredentialDeleteParams as CredentialDeleteParams,
    type CredentialEditParams as CredentialEditParams,
    type CredentialGetParams as CredentialGetParams,
  };
}
